*{
  box-sizing: border-box;
}
/*box-sizingをborder-boxにすると、widthの合計にpaddingとborderが含まれるようになる→paddingやborderの追加によるレイアウト崩れを未然に防げる*/


body{
  margin: 0;  /*上下左右の小さな余白を削除*/
  min-width:400px;
}


ul {         /*中黒を消す*/
  list-style: none; 
}

.container{
  width: 90%;
  margin: 0 auto;

}

.header-wrapper{
  background-color: rgb(0,0,0,0.7);
  color: white;
  height: 50px;  
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.header-left{
  float: left;
  padding: 12px 5px 0px 5px;
  font-size: 25px;
  width: 35%;
  margin-left: 50px;
}

.header-left a{
  text-decoration: none;
  color: white;
}

.header-left a:visited{
  text-decoration: none;
}

#menubutton1 {
  position: relative;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 8px;
  height: 34px;
  width: 38px;
  background-color: white;
  border: none;
  padding: 7px;
  border-radius: 10%;
  display: none;
  cursor : pointer;     /* カーソル   */

}

#menubutton1 div {
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: black;
  border-radius: 1px;
  display: inline-block;
}

.line1 {
  top: 6px;
  transform: rotate(0deg); 
  transition: transform 0.5s; /*jQuery動作時に機能する*/
}

.line2{
  top: 16px;
}

.line3{
  bottom: 6px;
  transform: rotate(0deg); 
  transition: transform 0.5s; /*jQuery動作時に機能する*/
}

.lists{
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 100px;
  width: 100px;
  /*transition: opacity .5s, visibility .5s;*/
}

/*
.lists.show {
  opacity: 1;
  width: 100px;
  margin-top: -25px;
  margin-left: auto;
  margin-right: 100px;
}
*/


.menu-modal-wrapper {
  position: fixed;
  top:50px;
  left:0;
  width:100%;
	height:100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  display: none;
}

.menu-modal {
  position: absolute;
  /*left: 34%;*/
  margin-left: 25%;
  margin-right: 0;
  background-color: #c7cacc;
  right: -65%;  /*右側にwidth分引っ込めておく*/
  width: 65%;
  height: 9999px;  /*9999は適当。画面いっぱい*/
  text-align: left;
  z-index: 101;
  display: none;
  overflow: hidden; /*はみ出た分は非表示*/
}                 /*margin-leftとwidth合わせて95%でちょうど良い*/

.list{
  font-size: 35px;
  font-weight: bold;
  height: 30px;
  padding-left: 0px;
  margin-bottom: 45px;
}

.lista{
  display: inline-block;
  line-height: 0.95;
  width: 9999px; /*適当*/
  text-decoration: none;
  color: black;
  padding: 20px 20px 20px 80px ;
  margin-left: -70px;
  background-color: rgb(179, 178, 178);
  /*background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 50%);
  background: linear-gradient(to bottom, whitesmoke 0%, #dadada 50%); */
  text-shadow: 1px 1px 1px whitesmoke;/*文字を立体的に*/
  opacity: 0.7;
}

.lista:hover{
  color: rgb(45, 245, 38);
  opacity: 1;
}


.header-right{
/*  position: fixed;
  top: 0px;
  right: 10px;*/
  margin-top:-12px;  /*上下のずれを解消 3本線が非表示の時*/
  margin-right: 50px;
  float: right;
}

.header-right li{  /*li 要る*/
  float: left;
  margin-top: 11px;
}

.header-right li a{  /*li 要る*/
  text-decoration: none;  /*下線消す*/
  /*background-color:  black; ヘッダーと重なると濃くなるので、指定しない*/
  padding: 7px 10px;
  color: white;
  transition: background-color .2s linear;
}

/*
.header-right li a:hover{  
  text-decoration: none; 
  background-color: white;
  color: black;
  transition: background-color .2s linear;
}

*/

.header-right li a:hover{  
  text-decoration: none; 
  color:rgb(45, 245, 38);
  transition: background-color .2s linear;
  
}

.clockupper{ 
  width: 100%;
  height: 30px; /*ヘッダーと時計の間の隙間を作る*/
}


.clock{
  margin-left: 80%;
  margin-right: 10%;
  
  width: 100px;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white url(images/clock2.png);
  background-size: cover;
  border-radius: 50%; /*これで四角が丸になる*/
  border: 2px solid white; /*時計の淵*/
  box-shadow: inset 0 20px 20px rgba(0,0,0,0.1)
  /*box-shadow: inset 0 0 30px rgba(0,0,0,0.5), 0 20px 20px rgba(0,0,0,0.5), 0 0 0 4px rgba(255,255,255,1)
  時計内側、時計外側の下、時計外側立体に見せる*/
}

.clock::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #848484;
  border:2px solid #fff;
  z-index: 5;
  border-radius: 50%;
}

.hour, .min, .sec{
  position: absolute;
}

.hour, .hr{
  width: 55px;
  height: 55px;
}

.min, .mn{
  width: 70px;
  height: 70px;
}

.sec, .sc{
  width: 80px;
  height: 80px;
}

.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before{
  content: '';
  position: absolute;
  width: 5px;  /*短針の幅*/
  height: 29px;  /*短針の高さ*/
  background-color: #0e0404; /*短針の色*/
  z-index: 1;
  border-radius: 50%;
  opacity: 0.8;
}

.mn::before{
  content: '';
  position: absolute;
  width: 4px;  /*長針の幅*/
  height: 35px;  /*長針の高さ*/
  background-color: #6e6e6e; /*長針の色*/
  z-index: 2;
  border-radius: 80% ;  /*6px 6px 0 0*/
  opacity: 0.8;
}

.sc::before{
  content: '';
  position: absolute;
  width: 2px;  /*秒針の幅*/
  height: 40px;  /*秒針の高さ*/
  background-color: #ff6767; /*秒針の色*/
  z-index: 3;
  border-radius: 50% ;  /*6px 6px 0 0*/
}

.dgtlclock{
  margin-left: 80%;
  margin-right: 10%;

}

.ymdhms{
  padding-top: 10px;
  width: 110px;
  height: 30px;
  font-size: 12px;
  font-family: monospace;
  font-weight: 700;
  letter-spacing:1px;
  text-align: center;
  text-shadow:1px 0px 5px black;  /*横に●px・縦に●px・ぼかし●px・影の色*/
  opacity: 0; /*初めは見えないようにしておく*/
}


#top{
  background-image: url("images/background.jpg");
  background-size: cover;
  color: white;
  position: relative;
  top: 50px;   
  height: 550px;
}

.topmessage{
  margin-top: -30px;
  padding-bottom: 120px;
  text-shadow:
    1px 0 0 black,
    0 1px 0 black,
    -1px 0 0 black,
    0 -1px 0 black  /*これで白抜きにできる*/
}


#top h1, h2{
  text-align: center;
  font-size: 60px;
}


#about{
  width: 100%;
  height: auto;
  margin: 0 auto; /*境界検討時に必要*/

}

.aboutwrapper{
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.introduction{
  height: auto;
  width: 400px;
  display: inline-block;
  vertical-align: top;   /* 上端を揃える */
  text-align: center;
}

.photo img{
  padding: 20px 10px 5px 10px;
}

.intro{
  font-size: 14px;
  text-align: left;
  padding-left: 60px;
}

.profile{
  display: inline-block;
  font-size: 13px;
  width: 160px;
  vertical-align: top;   /* 上端を揃える */
  margin-right: 10px;

}

.qualification{
  display: inline-block;
  font-size: 13px;
  width: 120px;
  vertical-align: top;   /* 上端を揃える */

}

.skills{
  font-size: 30px;
  font-family: serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -40px;
}

.icon{
  display: inline-block;
  margin-left: 0px;
  font-family: Arial;
  width: 110px;
  text-align: center;
  font-size: 18px;

}

.icon img{
  padding-bottom: 0px;
  transition: .5s ;
  /*opacity: 0.7;*/
}

.icon:hover p, .icon:hover img{
  /*opacity: 1;*/
  position: relative;
  top: -2px;           /*ちょっとだけ上に動く*/
  font-weight: bold;
}

.icon p{
  margin-top: 0px;
}


.iconupper, .iconmiddle{
  margin-bottom: 10px;
}

.icons{
  width: 360px;
  display: inline-block;
  vertical-align: top;   /* 上端を揃える */
}


.work{
  text-align: left;
  font-size: 15px;
}


.tocontact{
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.tocontact a:visited{
  text-decoration: none;
}

.seisaku{
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

#services{
  background-image: url(images/services.jpg);
  height: auto;
  background-size: cover;
  width: 100%;  
}



.servicesupper{
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.servicesupper div{
  display: inline-block;
}



/*
.work1{
  background-color: blue;
}
.pic{
  opacity: 0.6;
  display: block;
}
*/

.pdt {
  vertical-align: top;   /* 上端を揃える */
  position: relative;
  overflow: hidden;
  width: 379px;
  height: 195px;
}

.pdtname {
  text-decoration: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  overflow: hidden;
  opacity: 0;
}

.pdtname p{
  padding-top: 50px;
}

.pdt:hover  .pdtname{
  opacity: 1;
}


.work2 {
  display: inline-block;

  vertical-align: top;   /* 上端を揃える */
  position: relative;
  overflow: hidden;
  width: 379px;
  height: 195px;
}

.coming{
  position: absolute;
  top: 35px;
  left: 90px;
  z-index: 2;
  font-size: 35px;
  font-family: arial;
  color: white;

}

.text2 {
  position: absolute;
  color: white;
  font-family: arial;
  font-size: 35px;
  font-weight: bold;
  padding-top: 35px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(63, 13, 247, 0.4);
  overflow: hidden;
  opacity: 0;
}

.work2 p {
  font-size: 35px;
  font-family: arial;
  color: white;
}

.work2:hover .text2 {
  opacity: 1;
}



.serviceslower{
  width: 800px;
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.serviceslower div{
  display: inline-block;
}

.text3{
  position: absolute;
  left: 140px;
  top: 50px;
  color: white;
  font-size: 40px;
  font-family: arial;
}

.text4{
  position: absolute;
  left: 520px;
  top: 50px;
  color: white;
  font-size: 40px;
  font-family: arial;
}


.jissou{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.jissouwrapper{
  background-color: rgb(247, 245, 245);
  width: 550px;
  height: auto ;
  margin-right: auto;
  margin-left: auto;
}

.topic{
  width: 350px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 22px;
  color: rgb(43, 41, 41);
  border-top: 1px solid black;  
  border-bottom: 1px solid black;  
  /*background : linear-gradient(transparent 40%, #ffa64d 95%);*/
}

.slides {
  padding: 0;
  width: 550px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;  /*親要素をflexに指定すると、その中のdivを横並びにできる*/
  justify-content: center; /*display:flexとセット*/
}

.fasleft, .fasright{
  width: 50px;
  height: 220px;
  padding-top: 90px;
}

.fasleft{
  visibility: hidden;  /*display:none;だと、画像が左側へずれる*/
}

.change:hover{
  cursor: pointer;
}

.hide{
  background-color: red;
  padding: 5px 10px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  opacity: 0.7;
}

.hide:hover{
  opacity: 1;
  cursor : pointer;     /* カーソル   */
}

.slide {
  display: none;
}

.active {        /*activeクラスの付いた画像を表示*/
  display:inline-block;  

}


.slide img {
  width: 360px;
  height: auto;
  border-radius: 5px;
  padding-bottom: 20px;
}

.marginzero{
  margin: 0px;
  padding: 0px;
}

.numbers{
  text-align: center;
  margin-left: 5px;
}


.numberbtn{
  display: inline-block;
  color:white;
  width: 83px;
  height: 60px;
  margin-bottom: 50px;
  margin-right: 5px;
  overflow: hidden;
  /*border-radius: 50%;*/
}

.numberbtn img{
  width: 83px;
  height: 60px;
  opacity: 0.4;
  border: 1.5px double black;

}

.numberbtn:hover, .numberbtn:visited{
  cursor: pointer;
  color:rgb(99, 100, 100);
  background-color:rgb(99, 100, 100,0.5) ;
}

.isActive img{
  opacity: 1;
  /*color:rgb(99, 100, 100);*/
  /*background-color:rgb(99, 100, 100,0.2) ;*/
}

.servicesfinish{
  height: 50px;
}


#wrapper{
  background-color:rgba(0, 255,0,0.1) ;
  /*width:600px;
  height: 550px;*/
  margin: 0 auto;
}

#inquiry{
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

#inquiry h3{
  font-size: 25px;
}



#confirm-btn {
  display       : inline-block;
  padding       : 10px 40px;   /* 余白       */
  margin-left   : 100px;
  color         : white;     /* 文字色     */
  border        : none;        /*これを書かなければ、デフォルトで変な線が入る*/
  /*border: 1px solid #010501;  枠線 */
  border-radius : 3px;          /* 角丸       */
  background    : green;     /* 背景色     */
  opacity       : 0.7;
  font-size     : 12pt;        /* 文字サイズ */
  cursor        : pointer;     /* カーソル   */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1.5px 4px #054728;  /*原型に影を付ける*/
  text-align    : center;

}

#modify-btn {
  display       : inline-block;
  padding       : 10px 20px;   /* 余白       */
  margin-top   : 30px;
  margin-left   : 70px;
  color         : white;     /* 文字色     */
  border        : none;        /*これを書かなければ、デフォルトで変な線が入る*/
  /*border: 1px solid #010501;  枠線 */
  border-radius : 3px;          /* 角丸       */
  background    : rgb(138, 139, 138);     /* 背景色     */
  opacity       : 0.7;
  font-size     : 8pt;        /* 文字サイズ */
  cursor        : pointer;     /* カーソル   */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1.5px 4px #191b1a;  /*原型に影を付ける*/
  text-align    : center;
  height: 50px;
  vertical-align: top;   /* 上端を揃える */
}

#submit-btn {
  display       : inline-block;
  padding       : 16px 45px 11px 45px;   /* 余白       */
  margin-top   : 30px;
  margin-left   : 60px;
  color         : white;     /* 文字色     */
  border        : none;        /*これを書かなければ、デフォルトで変な線が入る*/
  /*border: 1px solid #010501;  枠線 */
  border-radius : 3px;          /* 角丸       */
  background    : green;     /* 背景色     */
  opacity       : 0.7;
  font-size     : 12pt;        /* 文字サイズ */
  cursor        : pointer;     /* カーソル   */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1.5px 4px #054728;  /*原型に影を付ける*/
  text-align    : center;
  vertical-align: top;   /* 上端を揃える */
  
}


#confirm-btn:hover, #modify-btn:hover, #submit-btn:hover {  /*マウスが乗ったら、透過を無しにする*/
  opacity: 1;
}

#confirm-btn:active, #modify-btn:active, #submit-btn:active{  /*マウスクリック時にへこんだように見せる*/
  box-shadow:none;
  position:relative;  /*移動させるために書く*/
  top:2px;            /*トップから下に2px分移動*/
  left: 0.5px;        /*右に0.5px分移動*/
  border: none;        /*これがなければ、デフォルトで変な線が入る*/
  outline:none;        /*これがなければ、デフォルトで変な線が入る*/
}


.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}

.modal {
  /*position: absolute;
  top: 20%;
  left: 34%;*/
  position: relative;
  margin: 40px auto;
  background-color: #e6ecf0;
  padding: 20px 50px 40px 50px;
  width: 550px;
  height: 450px;
  overflow: auto; /*高さの指定＋overflow:auto;でモーダル画面にもスクロールバーが表示される*/
  text-align: left;
  font-size: 15px;
  /*overflow-y:scroll;
  border-radius: 7px;
  max-height: 3vh;
  z-index: 10;
  -webkit-overflow-scrolling: touch;*/
  
}



#boxName, #boxEmail, #boxMessage{
  font-weight: bold;
  padding-left: 15px;  
  word-wrap: break-word;  /*文字列を折り返す（半角英数字にも効く）*/
  white-space: pre-line;  /*改行を反映させる*/

}


.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

footer{
  background-color:  rgba(163, 158, 158, 0.5);
  text-align: center;
}

footer p {
  display: inline-block;
  width: 400px;
}


/* --------------------レスポンシブ対応--------------------- */
/* スマホ向けレイアウト */
@media all and (max-width: 816px) {
  .header-right{
    display:none;
  }
  
  #menubutton1{
    display:block;
  }

  .aboutwrapper{
    width: 420px;
    text-align: center;
  }


  .servicesupper{
    width: 420px;
    margin-bottom: 0px;
  }

  .pdt{
    margin-bottom: 30px;
  }

  .serviceslower{
    width: 420px;
  }

  .slides{
    width: 420px;
  }

  .work2{
    margin-bottom: 30px;
  }


}



